<div class="row" style="padding: 25px;">
    <div class="col-10 offset-1">
        <div class="row">
            <div class="col-1 divEnd">
                <i class="far fa-file-alt icon"></i>
            </div>
            <div class="col-11">
                <h1>Mapa Conceptual</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-10 offset-1">
        <div class="row">
            <div class="col-6">
                <div class="card text-dark" style=" border: solid; border-color: #1A5276;">
                    <div class="card-header bg-warning text-center" style="font-size: 12px;color: white;">
                        Nivel 1</div>
                    <div class="card-body" style="background-color: white;font-size: 12px;">
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged.</p>
                    </div>
                </div>
            </div>
            <div class="col-1 divEnd"> <i class="fas fa-long-arrow-alt-right" style="font-size: 63px;"></i></div>
            <div class="col-5" style="padding: 5px;">
                <div class="card text-dark" style=" border: solid; border-color: #1A5276;">
                    <div class="card-header bg-danger text-center" style="font-size: 12px;color: white;">
                        Nivel 1.1</div>
                    <div class="card-body" style="background-color: white;font-size: 12px;">
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7 divEnd"> <i class="fas fa-long-arrow-alt-right" style="font-size: 63px;"></i></div>
            <div class="col-5" style="padding: 5px;">
                <div class="card text-dark" style=" border: solid; border-color: #1A5276;">
                    <div class="card-header bg-danger text-center" style="font-size: 12px;color: white;">
                        Nivel 1.2.</div>
                    <div class="card-body" style="background-color: white;font-size: 12px;">
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 offset-1 divEnd">
                <button class="btnE" (click)="redirecTo('/Home/option_multiple')"><i class="fas fa-arrow-right"></i> Siguiente</button>
    </div>
</div>