.icon {
    font-size: 50px;
    color: #ffc107;
}

.divEnd {
    display: flex;
    align-items: center;
    justify-content: end;
}

.divStart {
    display: flex;
    align-items: center;
    justify-content: start;
}

.btnE {
    background-color: #1A5276;
    color: white;
    border-radius: 11px;
}

.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}