<div class="row pt-4">
    <div class="col-12">
        <label for="">¿Cuánto es 2+2?</label>
    </div>
    <div class="col-12 " >
        <div class="form-check form-check" >
            <input class="form-check-input" type="radio" name="question1" id="ques1" value="option.opcion1">
            <label class="form-check-label" for="inlineRadio1">22</label>
          </div>
          <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="question1" id="ques2" value="option.opcion2">
            <label class="form-check-label" for="inlineRadio2">4</label>
          </div>
          <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="question1" id="ques3" value="option.opcion3" >
            <label class="form-check-label" for="inlineRadio3">0</label>
          </div>
    </div>
    <div class="col-12">
        <button class="btnE" (click)="validateRes()">Enviar</button>
    </div>
</div>

<div class="row pt-4">
  <div class="col-12">
      <label for="">¿un gato es un animal?</label>
  </div>
  <div class="col-12" >
      <div class="form-check form-check" >
          <input class="form-check-input" type="radio" name="question2" id="inlineRadio1" value="option.opcion1">
          <label class="form-check-label" for="inlineRadio1">omnivoro</label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="question2" id="inlineRadio2" value="option.opcion2">
          <label class="form-check-label" for="inlineRadio2">carnivoro</label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="question2" id="inlineRadio3" value="option.opcion3" >
          <label class="form-check-label" for="inlineRadio3">mamifero</label>
        </div>
  </div>
  <div class="col-12">
      <button class="btnE" (click)="validateRes()">Enviar</button>
  </div>
</div>

<div class="row pt-4">
  <div class="col-12">
      <label for="">¿Cuánto es 4+6?</label>
  </div>
  <div class="col-12" >
      <div class="form-check form-check" >
          <input class="form-check-input" type="radio" name="question3" id="inlineRadio1" value="option.opcion1">
          <label class="form-check-label" for="inlineRadio1">15</label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="question3" id="inlineRadio2" value="option.opcion2">
          <label class="form-check-label" for="inlineRadio2">10</label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="question3" id="inlineRadio3" value="option.opcion3" >
          <label class="form-check-label" for="inlineRadio3">46</label>
        </div>
  </div>
  <div class="col-12 mb-4">
      <button class="btnE" (click)="validateRes()">Enviar</button>
  </div>
</div>